# GameMaker build outputs / caches
*.win
*.yyz
*.yyp~
*.resource_order~
*.autosave
*.backup

# Windows builds/executables
*.exe
*.dll

# GameMaker caches (common)
Cache/
*.cache

# OS files
.DS_Store
Thumbs.db

# IDE temp
GMS2TEMP/
